.App {
  text-align: center;
  background-color: #faebd7;
  height: 100%;
  width: 100%;
}

.int{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}